alabaster==0.7.12
appdirs==1.4.3
argh==0.26.2
arrow==0.13.1
asn1crypto==0.24.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
Babel==2.6.0
binary==1.0.0
binaryornot==0.4.4
blinker==1.4
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
competancy-mgt==0.1.0
constantly==15.1.0
cookiecutter==1.6.0
coverage==4.5.3
cryptography==2.6.1
deepdiff==3.3.0
docstring-parser==0.3
docutils==0.14
entrypoints==0.3
filelock==3.0.10
flake8==3.7.7
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Babel==0.12.2
Flask-Cors==3.0.7
Flask-Restless==0.17.0
flask-swagger-ui==3.20.9
future==0.17.1
gitdb2==2.0.5
GitPython==3.0.3
google-api-core==1.14.3
google-auth==1.6.3
google-cloud-bigquery==1.20.0
google-cloud-core==1.0.3
google-resumable-media==0.4.1
googleapis-common-protos==1.6.0
gprof2dot==2017.9.19
groundwork==0.1.15
groundwork-database==0.1.4
groundwork-sphinx-theme==1.0.9
groundwork-web==0.1.5
hyperlink==19.0.0
idna==2.8
imagesize==1.1.0
incremental==17.5.0
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
jinja2-time==0.2.0
jsonpickle==1.1
jsonschema==3.0.1
lazy-object-proxy==1.4.1
livereload==2.6.1
MarkupSafe==1.1.1
mccabe==0.6.1
mimerender==0.6.0
more-itertools==7.0.0
numpy==1.16.3
opencv-contrib-python==4.1.0.25
opencv-python==4.1.0.25
packaging==19.0
passlib==1.7.1
pathlib==1.0.1
pathtools==0.1.2
pluggy==0.11.0
port-for==0.3.1
poyo==0.4.2
protobuf==3.10.0
py==1.8.0
pyan3==1.0.4
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.4.0
PyHamcrest==1.9.0
pylint==2.3.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyparsing==2.4.0
pypinfo==15.0.0
pypiserver==1.3.0
pyrsistent==0.15.1
pytest==4.4.2
pytest-cov==2.7.1
pytest-flake8==1.0.4
python-coveralls==2.9.1
python-dateutil==2.8.0
python-mimeparse==1.6.0
pytz==2019.1
PyYAML==5.1
requests==2.21.0
rsa==4.0
sauth==1.0.1
service-identity==18.1.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
Sphinx==1.8.5
sphinx-autobuild==0.7.1
sphinx-bazel==0.1.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-needs==0.3.10
sphinxcontrib-plantuml==0.15
sphinxcontrib-programoutput==0.13
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.3
tinydb==3.14.1
tinyrecord==0.1.5
toml==0.10.0
tornado==6.0.3
tox==3.9.0
Twisted==19.2.0
typed-ast==1.3.5
urllib3==1.24.3
virtualenv==16.5.0
watchdog==0.9.0
Werkzeug==0.15.2
whichcraft==0.5.2
wrapt==1.11.1
WTForms==2.2.1
zope.interface==4.6.0
